<div>
<div class="row my-1">
<div class="col-md-12">
     <div id="caro1" class="carousel slide rounded" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#caro1" data-slide-to="0" class="active"></li>
    <li data-target="#caro1" data-slide-to="1"></li>
    <li data-target="#caro1" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active rounded">
      <img src="assets/images/1-1.jpg" alt="Insecticides">
    </div>
    <div class="carousel-item">
      <img src="assets/images/3-1.jpg" alt="Herbicides">
    </div>
    <div class="carousel-item">
      <img src="assets/images/4-1.jpg" alt="Fertilizer">
    </div>
     
  </div>

  <a class="carousel-control-prev" href="#caro1" data-slide="prev">
   <button class="btn btn-secondary btn-lg"><span class="carousel-control-prev-icon"></span></button>
  </a> 
  <a class="carousel-control-next" href="#caro1" data-slide="next">
    <button class="btn btn-secondary btn-lg"><span class="carousel-control-next-icon"></span></button>
  </a>

</div>
</div>
</div>
</div>

