<div class="container jumbotron">
	<form #obj="ngForm">
		<div class="form-group">
			<label>Name</label>
			<input mdbInput type="text" name="name" [(ngModel)]="name" class="form-control">
		</div>
		<div class="form-group">
			<label>Ingrediant</label>
			<input type="text" name="ingrediant" [(ngModel)]="ingrediant" class="form-control">
		</div>
		<div class="form-group">
			<label>Image :</label>
			<input type="file" name="image" [(ngModel)]="image" class="m-3">
		</div>
		<div class="form-group">
			<label>Price</label>
			<input type="text" name="price" [(ngModel)]="price" class="form-control">
		</div>
		<div class="form-group">
			<label>Category</label>
			<input type="text" name="category" [(ngModel)]="category" class="form-control">
		</div>
		<div class="form-group">
			<label>Company</label>
			<input type="text" name="company" [(ngModel)]="company" class="form-control">
		</div>
		<div class="form-group">
			<label for="season">Season (मौसम) :- </label>
			<div class="form-control">
			<input id="season" type="checkbox" name="rainy" [(ngModel)]="rainy" class="m-2">Rainy (बरसात)
			<input id="season" type="checkbox" name="winter" [(ngModel)]="winter" class="m-2">Winter (सर्दी)
			<input id="season" type="checkbox" name="summer" [(ngModel)]="summer" class="m-2">Summer (गर्मी)
			</div>
		</div>
		<div class="form-group">
			<label>Crops Type :-</label>
			<div class="form-control">
			<input type="checkbox" name="kharif" [(ngModel)]="kharif" class="m-2">Kharif
			<input type="checkbox" name="rabi" [(ngModel)]="rabi" class="m-2">Rabi
			<input type="checkbox" name="other" [(ngModel)]="other" class="m-2">Other
		</div>
	</div>

		<div class="form-group">
			<label>Rabi Crops (October-March) :-</label>
			<hr class="m-0">
			<input type="checkbox" name="wheat" [(ngModel)]="wheat" class="m-2">Wheat (गेंहू)
			<input type="checkbox" name="gram" [(ngModel)]="gram" class="m-2">Gram (चना)
			<input type="checkbox" name="onion" [(ngModel)]="onion" class="m-2">Onion (प्याज)
			<input type="checkbox" name="potato" [(ngModel)]="potato" class="m-2">Potato (आलू)
			<input type="checkbox" name="fenugreek" [(ngModel)]="fenugreek" class="m-2">Fenugreek (मेंथी)
			<input type="checkbox" name="peas" [(ngModel)]="peas" class="m-2">Peas (मटर)
			<input type="checkbox" name="tomato" [(ngModel)]="tomato" class="m-2">Tomato (टमाटर)
			<input type="checkbox" name="coriender" [(ngModel)]="coriender" class="m-2">Coriender (धनिया)
			<input type="checkbox" name="mustard" [(ngModel)]="mustard" class="m-2">Mastard (सरसों)
			<input type="checkbox" name="maiz" [(ngModel)]="maiz" class="m-2">Maiz (अक्सर)
			<input type="checkbox" name="lucerne" [(ngModel)]="lucerne" class="m-2">Lucerne (लचका / बरसी)
			<input type="checkbox" name="barley" [(ngModel)]="barley" class="m-2">Barley (जौ)
			<input type="checkbox" name="fennel" [(ngModel)]="fennel" class="m-2">Fennel (सौंफ)
			<hr>
		</div>

			<div class="form-group">
			<label>Kharif Crops (July–October):-</label>
			<hr class="m-0">
			<input type="checkbox" name="soybean" [(ngModel)]="soybean" class="m-2">Soyabean (सोयाबीन)
			<input type="checkbox" name="groundNut" [(ngModel)]="groundNut" class="m-2">Ground Nut (मूंगफली)
			<input type="checkbox" name="paddy" [(ngModel)]="paddy" class="m-2">Paddy (धान)
			<input type="checkbox" name="gour" [(ngModel)]="gour" class="m-2">Gour (ग्वार)
			<input type="checkbox" name="castor" [(ngModel)]="castor" class="m-2">Castor (रेंड़ी)
			<input type="checkbox" name="cotton" [(ngModel)]="cotton" class="m-2">Cotton (कपास)
			<input type="checkbox" name="chilli" [(ngModel)]="chilli" class="m-2">Chilli (मिर्च)
			<input type="checkbox" name="jawar" [(ngModel)]="jawar" class="m-2">Jawar (जवार)
			<input type="checkbox" name="sesame" [(ngModel)]="sesame" class="m-2">Sesame (तिल)
			<input type="checkbox" name="maize" [(ngModel)]="maize" class="m-2">Maize (मक्का)
			<input type="checkbox" name="urad" [(ngModel)]="urad" class="m-2">Urad (दफ्तर)
			<input type="checkbox" name="bajra" [(ngModel)]="bajra" class="m-2">Bajra (बाजरा)
			<input type="checkbox" name="arhar" [(ngModel)]="arhar" class="m-2">Arhar (अरहर)
			<hr>
	</div>
		<div class="form-group">
			<label>Rating</label>
			<input type="text" name="rating" [(ngModel)]="rating" class="form-control">
		</div>
	</form>
	<button class="btn btn-success" (click)="save(obj)">Add</button>
</div>


