<div class="container-fluid">
	<div class="jumbotron bg-info">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-xl-1 col-sm-1">
					<ul class="list-unstyled">
						<p>About</p>
					<li><a href="#" class="text-light small ">Contact</a></li>
					<li><a href="#" class="text-light small">About</a></li>
					</ul>
				</div>
				<div class="col-md-1 col-xl-1 col-sm-1">
					<ul class="list-unstyled">
						<p>Help</p>
						<li><a href="#" class="text-light small">Payment</a></li>
						<li><a href="#" class="text-light small">Product</a></li>
						<li><a href="#" class="text-light small">Cancelation and help</a></li>
						<li><a href="#" class="text-light small">Return</a></li>
					</ul>
				</div>
				<div class="col-md-1">
				<ul class="list-unstyled">
						<p>Policy</p>
						<li><a href="#" class="text-light small">Warrenty</a></li>
						<li><a href="#" class="text-light small">Security</a></li>
				</ul>
				</div>
				<div class="col-md-1">
					<ul class="list-unstyled">
						<p>Social</p>
						<li><a href="#" class="text-light small">Facebook</a></li>
						<li><a href="#" class="text-light small">Twitter</a></li> 
						<li><a href="#" class="text-light small">Instagram</a></li>
					</ul>
				</div>

				<div class="col-md-4">

				</div>
			</div>
			</div>
		</div>
	</div>