<div class="jumbotron mt-3">
	<div class="row">
		<div class="col-md-12">
		<h2 class="text-center">Update Profile</h2>
	</div>
</div>
	<div class="form-group">
		<label>Full Name</label>
		<input type="text" [(ngModel)]="users.name" name="name" class="form-control">
	</div>
	<div class="form-group">
		<label>Date of Birth</label>
		<input type="date" [(ngModel)]="users.dob" name="dob" class="form-control">
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="text" [(ngModel)]="users.email" name="email" class="form-control">
	</div>
	<div class="form-group">
		<button class="btn btn-success mr-4" type="submit" (click)="save(users)">Save</button>
		<button class="btn btn-danger" routerLink='' >Cancel</button>
	</div>
</div>